<section class="catalog-container" id="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <!-- Garmin Fenix 7X Pro Sapphire Solar -->
      <li class="catalog-item">
        <div class="catalog-wrapper">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/catalog/catalog_1.webp    1x,
                ./images/catalog/catalog_1_2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/catalog/catalog_tablet_1.webp    1x,
                ./images/catalog/catalog_tablet_1_2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/catalog/catalog_mobile_1.webp    1x,
                ./images/catalog/catalog_mobile_1_2x.webp 2x
              "
            />
            <img
              class="catalog-img"
              src="./images/catalog/catalog_1.webp"
              alt="Garmin Fenix 7X Pro Sapphire Solar"
            />
          </picture>
        </div>
        <div class="catalog-container">
          <h3 class="catalog-title-text">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="catalog-text">€500</p>
        </div>
      </li>

      <!-- Garmin Marq Athlete -->
      <li class="catalog-item">
        <div class="catalog-wrapper">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/catalog/catalog_2.webp    1x,
                ./images/catalog/catalog_2_2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/catalog/catalog_tablet_2.webp    1x,
                ./images/catalog/catalog_tablet_2_2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/catalog/catalog_mobile_2.webp    1x,
                ./images/catalog/catalog_mobile_2_2x.webp 2x
              "
            />
            <img
              class="catalog-img"
              src="./images/catalog/catalog_2.webp"
              alt="Garmin Marq Athlete"
            />
          </picture>
        </div>
        <div class="catalog-container">
          <h3 class="catalog-title-text">Garmin Marq Athlete</h3>
          <p class="catalog-text">€450</p>
        </div>
      </li>

      <!-- Garmin Descent MK1 -->
      <li class="catalog-item">
        <div class="catalog-wrapper">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/catalog/catalog_3.webp    1x,
                ./images/catalog/catalog_3_2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/catalog/catalog_tablet_3.webp    1x,
                ./images/catalog/catalog_tablet_3_2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/catalog/catalog_mobile_3.webp    1x,
                ./images/catalog/catalog_mobile_3_2x.webp 2x
              "
            />
            <img
              class="catalog-img"
              src="./images/catalog/catalog_3.webp"
              alt="Garmin Descent MK1"
            />
          </picture>
        </div>
        <div class="catalog-container">
          <h3 class="catalog-title-text">Garmin Descent MK1</h3>
          <p class="catalog-text">€580</p>
        </div>
      </li>

      <!-- Garmin D2 Delta PX -->
      <li class="catalog-item">
        <div class="catalog-wrapper">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/catalog/catalog_4.webp    1x,
                ./images/catalog/catalog_4_2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/catalog/catalog_tablet_4.webp    1x,
                ./images/catalog/catalog_tablet_4_2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/catalog/catalog_mobile_4.webp    1x,
                ./images/catalog/catalog_mobile_4_2x.webp 2x
              "
            />
            <img
              class="catalog-img"
              src="./images/catalog/catalog_4.webp"
              alt="Garmin D2 Delta PX"
            />
          </picture>
        </div>
        <div class="catalog-container">
          <h3 class="catalog-title-text">Garmin D2 Delta PX</h3>
          <p class="catalog-text">€380</p>
        </div>
      </li>

      <!-- Garmin Fenix 6 Pro Solar -->
      <li class="catalog-item catalog-item-none">
        <div class="catalog-wrapper">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/catalog/catalog_5.webp    1x,
                ./images/catalog/catalog_5_2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/catalog/catalog_tablet_5.webp    1x,
                ./images/catalog/catalog_tablet_5_2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/catalog/catalog_mobile_5.webp    1x,
                ./images/catalog/catalog_mobile_5_2x.webp 2x
              "
            />
            <img
              class="catalog-img"
              src="./images/catalog/catalog_5.webp"
              alt="Garmin Fenix 6 Pro Solar"
            />
          </picture>
        </div>
        <div class="catalog-container">
          <h3 class="catalog-title-text">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-text">€400</p>
        </div>
      </li>

      <!-- Tube Watch S42 Date Steel -->
      <li class="catalog-item catalog-item-none">
        <div class="catalog-wrapper">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/catalog/catalog_6.webp    1x,
                ./images/catalog/catalog_6_2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/catalog/catalog_tablet_6.webp    1x,
                ./images/catalog/catalog_tablet_6_2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/catalog/catalog_mobile_6.webp    1x,
                ./images/catalog/catalog_mobile_6_2x.webp 2x
              "
            />
            <img
              class="catalog-img"
              src="./images/catalog/catalog_6.webp"
              alt="Tube Watch S42 Date Steel"
            />
          </picture>
        </div>
        <div class="catalog-container">
          <h3 class="catalog-title-text">Tube Watch S42 Date Steel</h3>
          <p class="catalog-text">€395</p>
        </div>
      </li>
    </ul>
  </div>
  <button type="submit" class="catalog-btn">Show more</button>
</section>
