<section id="hero-img" class="hero">
  <div class="container">
    <div class="hero-block">
      <div class="hero-info">
        <h1 class="hero-title">
          Welcome to our <span class="hero-highlight">collection</span> of
          premium watches
        </h1>

        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>

      <div class="hero-section">
        <ul class="hero-section-list">
          <li class="hero-section-item">
            <picture>
              <source
                srcset="
                  /images/hero/command_1.webp    1x,
                  /images/hero/command_1_2x.webp 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /images/hero/command_tablet_1.webp    1x,
                  /images/hero/command_tablet_1_2x.webp 2x
                "
                media="(min-width: 768px) and (max-width: 1199px)"
              />
              <source
                srcset="
                  /images/hero/command_mob_1.webp    1x,
                  /images/hero/command_mob_1_2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="hero-comm-img"
                src="/images/hero/command_mob_1.webp"
                alt="command-mob-1"
              />
            </picture>
          </li>
          <li class="hero-section-item">
            <picture>
              <source
                srcset="
                  /images/hero/command_2.webp    1x,
                  /images/hero/command_2_2x.webp 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /images/hero/command_tablet_2.webp    1x,
                  /images/hero/command_tablet_2_2x.webp 2x
                "
                media="(min-width: 768px) and (max-width: 1199px)"
              />
              <source
                srcset="
                  /images/hero/command_mob_2.webp    1x,
                  /images/hero/command_mob_2_2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="hero-comm-img"
                src="/images/hero/command_mob_2.webp"
                alt="command-mob-2"
              />
            </picture>
          </li>
          <li class="hero-section-item">
            <picture>
              <source
                srcset="
                  /images/hero/command_3.webp    1x,
                  /images/hero/command_3_2x.webp 2x
                "
                media="(min-width: 1200px)"
              />
              <source
                srcset="
                  /images/hero/command_tablet_3.webp    1x,
                  /images/hero/command_tablet_3_2x.webp 2x
                "
                media="(min-width: 768px) and (max-width: 1199px)"
              />
              <source
                srcset="
                  /images/hero/command_mob_3.webp    1x,
                  /images/hero/command_mob_3_2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="hero-comm-img"
                src="/images/hero/command_mob_3.webp"
                alt="command-mob-3"
              />
            </picture>
          </li>
        </ul>

        <a href="#footer" class="hero-scroll-link">Scroll down</a>
      </div>
    </div>

    <picture>
      <source
        srcset="/images/hero/hero.webp 1x, /images/hero/hero_2x.webp 2x"
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          /images/hero/hero_tablet.webp    1x,
          /images/hero/hero_tablet_2x.webp 2x
        "
        media="(min-width: 768px) and (max-width: 1199px)"
      />
      <source
        srcset="
          /images/hero/hero_mobile.webp    1x,
          /images/hero/hero_mobile_2x.webp 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="hero-img"
        src="/images/hero/hero_mobile.webp"
        alt="hero-img"
      />
    </picture>
  </div>
</section>
