<section class="page-reviews" id="reviews">
  <div class="container">
    <h3 class="title-page-reviews">Reviews</h3>
    <ul class="reviews-list">
      <li class="review-list-item visible-mobile">
        <div class="cont-list-item">
          <img
            src="/images/reviews/reviews_mobile.webp"
            srcset="
              /images/reviews/reviews_mobile.webp    1x,
              /images/reviews/reviews_mobile_2x.webp 2x
            "
            alt="Photo John Wax"
            class="img-review-list-item"
          />
          <h5 class="review-list-item-title">John Wax</h5>
          <p class="review-list-item-text">
            Buying a watch from was the best choice for me. The design is
            perfectly combined with high quality materials. The strap fits
            nicely on the hand, and the mechanism works flawlessly.
          </p>
        </div>
      </li>
      <li class="review-list-item visible-tablet">
        <div class="cont-list-item">
          <img
            src="/images/reviews/reviews_tablet_2.webp"
            srcset="
              /images/reviews/reviews_tablet_2.webp    1x,
              /images/reviews/reviews_tablet_2_2x.webp 2x
            "
            alt="Photo John Wax"
            class="img-review-list-item"
          />
          <h5 class="review-list-item-title">Victoria Romashenko</h5>
          <p class="review-list-item-text">
            Can't take my eyes off my watch from. Every time I put it on, it is
            admired by those around me. The build quality and attention to
            detail make it a real gem among my accessories.
          </p>
        </div>
      </li>
      <li class="review-list-item">
        <div class="cont-list-item">
          <img
            src="/images/reviews/reviews_3.webp"
            srcset="
              /images/reviews/reviews_3.webp    1x,
              /images/reviews/reviews_3_2x.webp 2x
            "
            alt="Photo John Wax"
            class="img-review-list-item"
          />
          <h5 class="review-list-item-title">Anastasia Trachuk</h5>
          <p class="review-list-item-text">
            My watch from is a real masterpiece. Every detail impresses with the
            high quality of execution. Special features like [specify features]
            make it an indispensable companion in my daily life.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
