/*MOBIL*/

.advertisement-section {
  padding-bottom: 100px;
}

.advertisement-div {
  background-image: url(../images/advertisement/advertisement_mobile.webp);
  background-size: 335px 363px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 30px;
  width: 335px;
  height: 363px;
  background-color: #0c0c0c;
}

@media (min-resolution: 192dpi) {
  .advertisement-div {
    background-image: url(../images/advertisement/advertisement_mobile_2x.webp);
  }
}

.advertisement-h {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advertisement-p {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  padding: 60px 8px 28px 8px;
  height: 162px;
  width: 279px;
}

.advertisement-span {
  color: rgba(251, 251, 251, 0.5);
}

.advertisement-div-a {
  padding-bottom: 60px;
  padding-left: 8px;
}

.advertisement-a {
  width: 160px;
  height: 48px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #fbfbfb;
  text-align: center;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.advertisement-a:hover,
.advertisement-a:focus {
  background-color: #fbfbfb;
  color: #0c0c0c;
}

/*TABLET*/

@media screen and (min-width: 768px) {
  .advertisement-div {
    background-image: url(../images/advertisement/advertisement_tablet.webp);
    background-size: 704px 425px;
    width: 704px;
    height: 425px;
  }

  @media (min-resolution: 192dpi) {
    .advertisement-div {
      background-image: url(../images/advertisement/advertisement_tablet_2x.webp);
    }
  }

  .advertisement-p {
    font-size: 48px;
    line-height: 0.9;
    padding: 80px 32px 32px 32px;
    height: 185px;
    width: 576px;
  }

  .advertisement-div-a {
    padding-bottom: 80px;
    padding-left: 32px;
  }
}

/*COMPUTER*/

@media screen and (min-width: 1280px) {
  .advertisement-div {
    background-image: url(../images/advertisement/advertisement.webp);
    background-size: 1150px 298px;
    width: 1150px;
    height: 298px;
    flex-direction: row;
    align-items: baseline;
  }

  @media (min-resolution: 192dpi) {
    .advertisement-div {
      background-image: url(../images/advertisement/advertisement_2x.webp);
    }
  }

  .advertisement-p {
    width: 690px;
    height: 132px;
    padding: 83px 140px 83px 15px;
  }

  .advertisement-div-a {
    padding-left: 0px;
    padding-bottom: 170px;
    padding-top: 80px;
    padding-right: 15px;
  }
}
