/* section catalog */
.catalog-container {
  padding-top: 0;
  padding-bottom: 60px;
}

@media only screen and (min-width: 768px) {
  .catalog-container {
    padding-top: 0;
    padding-bottom: 80px;
  }
}

@media only screen and (min-width: 1280px) {
  .catalog-container {
    padding-top: 0;
    padding-bottom: 100px;
  }
}

.catalog-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .catalog-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 92%;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
  }
}
.catalog-list {
  display: flex;
  text-decoration: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

@media only screen and (min-width: 768px) {
  .catalog-list {
    gap: 29px 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .catalog-list {
    gap: 26px 23px;
  }
}
ul.catalog-list li:nth-child(n + 5) {
  display: none;
}
@media screen and (min-width: 768px) {
  ul.catalog-list li:nth-child(n + 5) {
    display: unset;
  }
}

.catalog-item-none {
  display: none;
}

@media (min-width: 768px) {
  .catalog-item-none {
    display: block; /* Показати всі елементи */
  }
}
.catalog-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  background-color: #f3f3f3;
  border-radius: 30px;
  padding: 24px 28px;
  box-sizing: border-box;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .catalog-item {
    width: calc((100% - 16px) / 2);
    padding: 24px 32px;
  }
}
@media screen and (min-width: 1280px) {
  .catalog-item {
    width: calc((100% - 23px * 2) / 3);
    padding: 24px 32px;
  }
}
.catalog-img {
  margin: 18px auto 28px;
  display: flex;
  justify-content: center;
  width: 208px;
  height: 226px;
}
@media screen and (min-width: 768px) {
  .catalog-img {
    margin: 10px auto 20px;
    width: 268px;
    height: 292px;
  }
}

@media screen and (min-width: 1280px) {
  .catalog-img {
    width: 292px;
    height: 292px;
  }
}
.catalog-wrapper {
  position: relative;
  overflow: hidden;
}

.catalog-container {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.catalog-title-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
  .catalog-title-text {
    font-size: 20px;
    line-height: 1;
  }
}

.catalog-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

.catalog-btn {
  display: block;
  border-radius: 16px;
  border: 0;
  width: 160px;
  height: 48px;
  margin: 0 auto;
  background-color: #3350e9;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #fbfbfb;
  cursor: pointer;
  margin-top: 40px;
}

.catalog-btn:hover,
.catalog-btn:focus {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #1f3cd4;
}

@media screen and (min-width: 768px) {
  .catalog-btn {
    display: none;
  }
}
