/* section catalog */
.catalog-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  padding: 0px 20px;
  width: 375px;
  /* height: 1660px; */
}
@media only screen and (min-width: 768px) {
  .catalog-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    width: 704px;
    /* height: 1390px; */
  }
}

@media only screen and (min-width: 1200px) {
  .catalog-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    padding: 0px 65px;
    width: 1200px;
    /* height: 944px; */
  }
}

.catalog-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  text-align: left;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .catalog-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 0.91667;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    text-align: left;
    margin-bottom: 40px;
  }
}
.catalog-list {
  gap: 24x 20px;
}

@media only screen and (min-width: 768px) {
  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32x 16px;
  }
}

@media only screen and (min-width: 1200px) {
  .catalog-list {
    row-gap: 48px;
    gap: 32x 23px;
  }
}

.catalog-item-none {
  display: none;
}

@media (min-width: 768px) {
  .catalog-item-none {
    display: block; /* Показати всі елементи */
  }
}
.catalog-item {
  background: #fff;
  max-width: 288px;
  margin: 0 auto;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .catalog-item {
    width: calc((100% - 1 * 24px) / 2);
  }
  .catalog-item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .catalog-item {
    width: calc((100% - 48px) / 3);
    cursor: pointer;
    overflow: hidden;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.catalog-wrapper {
  position: relative;
  overflow: hidden;
}

/* .catalog-img {
  width: 100%;
  height: auto;
} */

.catalog-container {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.catalog-title-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 768px) {
  .catalog-title-text {
    font-size: 20px;
    line-height: 1;
  }
}

.catalog-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

.catalog-show-more-btn {
  border: none;
  width: 160px;
  height: 48px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  border-radius: 16px;
  margin: 0 auto;
  background: #3350e9;
}

/* Ефект при наведенні */
.catalog-show-more-btn:hover {
  background-color: #2563eb; /* Трохи темніший синій */
}
@media (min-width: 768px) {
  .catalog-show-more-btn {
    display: none;
  }
}
