.contactus {
  padding-bottom: 60px;
}

.contactus-title {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}
.contactus-form {
  background-color: #f3f3f3;
  border-radius: 30px;
  padding: 48px 28px;
  width: 335px;
  height: 512px;
  margin-bottom: 20px;
}
.contactus-text {
  width: 279px;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
}
.form-content-input {
  background-color: #f3f3f3;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding-left: 14px;
  width: 279px;
  height: 42px;
  margin-bottom: 18px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-content-input:focus {
  border: 1px solid #3350e9;
}
.form-content-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #0c0c0c;
}

.form-comment {
  background-color: #f3f3f3;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 12px 14px;
  margin-bottom: 28px;
  width: 279px;
  height: 84px;
  outline: none;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #0c0c0c;
}

.form-comment:focus {
  border: 1px solid #3350e9;
}

.form-btn-submit {
  background-color: #3350e9;
  border-radius: 16px;
  padding: 12px 50px;
  width: 134px;
  height: 42px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fbfbfb;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn-submit:active {
  background-color: #1f3cd4;
}

.contactus-img {
  min-width: 335px;
  height: 512px;
}

@media screen and (min-width: 768px) {
  .contactus-container {
    max-width: 768px;
  }
  .contactus-title {
    font-size: 48px;
    margin-bottom: 40px;
  }
  .contactus-text {
    font-size: 16px;
    margin-bottom: 32px;
    width: 460px;
  }
  .contactus-form {
    border-radius: 50px;
    padding: 50px 122px;
    width: 704px;
    height: 556px;
    margin-bottom: 40px;
  }
  .form-content-input {
    padding: 16px 18px;
    width: 460px;
    height: 52px;
  }
  .form-comment {
    padding: 16px 18px;
    width: 460px;
    height: 90px;
    margin-bottom: 32px;
  }
  .form-comment::placeholder,
  .form-content-input::placeholder {
    font-size: 16px;
  }
  .form-btn-submit {
    border-radius: 16px;
    padding: 17px 63px;
    width: 160px;
    height: 52px;
  }

  .contactus-img {
    width: 704px;
    height: 556px;
  }
  .contactus {
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .contactus-container {
    display: flex;
    align-items: center;
    max-width: 1150px;
  }

  .contactus {
    padding-bottom: 100px;
  }

  .contactus-form {
    margin: 0;
    margin-right: 40px;
    width: 580px;
    height: 556px;
    padding: 50px 60px;
  }
  .contactus-img {
    width: 530px;
    height: 556px;
  }
}
