/* Styles for Mobile devices */
.hero-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}

.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
}

.hero-highlight {
  color: #3350e9;
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}
